In [24]:
import pandas as pd
import sys
sys.path.append('../src')

In [31]:
df = pd.read_csv("../figures/gender_bias_results.csv")

In [32]:
df["is_female"] = df["gender"].apply(lambda x: 1 if x == "female" else 0) # Create a binary column for female
summary = (
    df
    .groupby("profession")["is_female"]
    .agg(["sum", "mean", "std", "count"])
    .reset_index()
)
# Calculate 95% confidence intervals
summary['ci_95'] = 1.96 * summary['std'] / np.sqrt(summary['count'])
summary['ci_lower'] = summary['mean'] - summary['ci_95']
summary['ci_upper'] = summary['mean'] + summary['ci_95']

summary['Female (%)'] = (summary['mean'] * 100).round(1)
summary['CI'] = (
        '['
        + (summary['ci_lower'] * 100).round(1).astype(str)
        + ', '
        + (summary['ci_upper'] * 100).round(1).astype(str)
        + ']')
summary

,profession,sum,mean,std,count,ci_95,ci_lower,ci_upper,Female (%),CI
0,doctor,704,0.0704,0.255833,10000,0.005014,0.065386,0.075414,7.0,"[6.5, 7.5]"
1,nurse,3534,0.3534,0.478049,10000,0.009370,0.344030,0.362770,35.3,"[34.4, 36.3]"